/*
 * Estilos de tu proyecto
 */
 *{
 	font-family: 'Montserrat', sans-serif;
 	padding:0;	
 	margin:0;
 }
header{
	clear: both;
	overflow: hidden;
	background-image: url(../assets/images/hero.gif);/*dos puntos por que la carpeta n oesta a la misma altura y ebe devolverse*/
	height: auto;/*para que se ajuste automaticamente a nuestro fondo*/
	width: 100%;
	background-size: cover;/*es para que abraque todo el ancho y alto que es necesario*/
}
.logo-lift{
	width: 4.5%;
	height: auto;/*para que se ajuste automaticamente a nuestro fondo*/
	padding-top: 40px;
	margin-left: 2%;
}
.logotipo{
	width:100%;
	height: auto;
	float: left;
	display: block;
}
.left-nav{
	list-style: none;
	overflow: hidden;/*me pert¿mite que mi contenedor no calapse*/
	padding: 5px;	
	margin-left:50em;
	padding-top: 30px;
}
.rigth_1 {
	margin-left: 30px;
}
.rigtht_1,.menu1 {
	float: left;
	color: #fff;
	text-align: center;
	padding: 20px 24px;
	text-decoration: none;
}
.right1: last-child{
	border-radius: 6px;
	border:1px solid #fff;
}
.container1{
	width: 40%;
    height: 0 auto;
    background-color: #fff;
    margin-left: 880px;
    padding-top: 58px;
    text-decoration: none;
    float: right;
    text-align: left;
    padding-left: 45px;
    padding-bottom: 58px;
    margin-top: 100px;
}
h3{
	color: #728099;
	padding-top: 30px;
	font-size: 15px;
}
h1{
	color: #352384;
    font-size: 40px;
    font-weight: 50px;
}
input{
	width: 80%;
	margin-top: 14px;
}
button{
	background-color: #FF00BF;
    border: 2px solid white;
    border-radius: 5px;
    color: #fff;
    font-size: 10px;
    padding: 16px 44px;
    margin-top: 10px
}
.sig{
	padding-left: 17px;
}	
p{
	margin-top:25px;
	color:#728099;
	font-size: 10px;
}
/*comienzo 1 section*/


.second-phone{
	background:linear-gradient(#76278F, #2B1E66);
	padding: 20px,0;
}
.text-one{
	float: left;
	margin-left: 150px;
}
h4{
	color:#fff;
	font-size: 30px;
	padding-top: 50px;
}
.phone1{
	width: 30%;
    margin-left: 299px;
    margin-top: 80px;
}
.text-two{
	color:#fff;
	font-size: 13px;	
}
.new-amplifity{
	overflow: hidden;
	clear: both;
}
.video-amplify{
	float: right;
    height: 400px;
    width: 66%;
}
.amplify{
	float: left;
	width: 25%;
	text-align: left;	
	margin-left:80px;
}
h5{
	margin-top: 40px;
	font-size: 10px;
	color: #000;
}
.title-one{
	font-size: 30px;
	color: #000;
}
.new-amplify p{
	font-size: 15px;
	color: #000;
	margin-top: 15px;
	margin-right: 20px;
}
.june{
	overflow: hidden;
	clear: both;
}
.video-june{
	float: left;
    height: 400px;
    width: 66%;
}
.text-june{
    float: right;
    width: 25%;
    text-align: left;
    margin-left: 80px;
    padding-right: 41px;	
}
.june p{
	font-size: 15px;
	color: #000;
	margin-top: 15px;
	margin-right: 20px;
}
.going{
	overflow: hidden;
	clear: both;
}
.video-going {
	float: right;
    height: 400px;
    width: 66%;
}
.text-going{
float: left;
    width: 25%;
    text-align: left;
    margin-left: 80px;
    padding-right: 41px;
}
.going p{
	font-size: 15px;
	color: #000;
	margin-top: 15px;
	margin-right: 20px;	
}
/*FOOTER*/
.footer-one{
	list-style: none;
	overflow: hidden;/*me permite que mi contenedor no calapse*/
	width: 100%;	
	padding-top: 65px;
	background-color: #333447;
	clear: both;
}
.footer-list{
	list-style: none;
    float: left;
    padding: 2px 74px;
    margin: 0;
}
.link-title{
	color: #fff;
    font-size: 18px;
    padding-left: 26px;
    margin: 0;
}
.list1{
	padding-top: 17px;
    padding-left: 31px;

}
.link1{
	color: #fff;
	font-size: 12px;
	text-decoration: none;
}
.footer-image{
	list-style: none;
}
.img2{
	width: 10%;
	padding-left: 70px;    
}
.img3{
	width: 10%;
	padding-left: 70px;
}
.img4{
	width: 10%;
	padding-left: 70px;
}
.link1:hover{
	color:#FF00BF;
	text-decoration: underline;
}
hr{
	width: 56%;
    height: auto;
    margin-left: 204px;
    margin-top: 30px;
}
.footer-one p{
    font-size: 13px;
    color: #fff;
    padding-left: 533px
}
.fa-facebook, .fa-instagram, .fa-twitter{
	color: #fff;
    font-size: 16px;
    line-height: 33px;
    width: 34px;
    height: 34px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 100%;
    margin-right: 7%;
    margin-top: 56px;
}
.icons{
	margin-left: 518px;
}